<!DOCTYPE html>
<html lang="ru" xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Make order</title>
</head>
<body>
<form method="POST" th:object="${order}">
    <h3>Make order</h3>
    <hr>
    <div th:each="dish : ${dishes}">
        Amount:
        <input type="number" th:field="*{selectedDishes[__${dish.id}__]}" min="0" >
        <span th:text="${dish.name}"></span> <span th:text="${dish.price} + '$'"></span>
        <br/> <hr>
    </div>
    <button type="submit">Submit Order</button>
</form>

</body>
</html>