<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Make cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0;
        }

        .container {
            width: 70%;
            border: 1px solid #cfd4d9;
            padding: 10px;
            border-radius: 5px;
            max-width: 1400px;
            margin: 20px;

        }
    </style>
</head>
<body>
<div th:replace="~{components/header :: headerFragment}"></div>

<div class="container">
    <form method="POST" th:object="${order}" th:action="@{/design}">
        <h3>Make Order</h3>
        <hr>
        <div th:each="dish : ${dishes}">
            <div class="form-group">
                <label>Amount:</label>
                <input type="number" th:field="*{selectedDishes[__${dish.id}__]}" min="0" th:max="${dish.amount}"
                       class="form-control">
                <span th:text="${dish.name}"></span> <span th:text="${dish.price} + '$'"></span> <span
                    th:text="${dish.amount} + ' pieces'"></span> <span
                    th:text="${dish.time} + ' seconds  to cook'"></span>
            </div>
            <hr>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit Order</button>
    </form>
</div>

</body>
</html>